.App {
    color: black;
}

.logo-component {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.accenture-logo {
    width: 200px;
}